/Vanessa_Allodoli_OOP/claro/plot/*.png
/Vanessa_Allodoli_OOP/claro/plot/*.jpg
/Vanessa_Allodoli_OOP/claro/plot/*.pdf
/Vanessa_Allodoli_OOP/sipm/plot/*.png
/Vanessa_Allodoli_OOP/sipm/plot/*.jpg
/Vanessa_Allodoli_OOP/sipm/plot/*.pdf
__pycache__
.idea
.vscode
source
/Vanessa_Allodoli_OOP/secondolotto_1
